@charset "UTF-8";
@font-face {
    font-family: 'Android Fonts';
    src: url('fontes/idroid.otf') format('opentype');
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(76, 255, 130);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}
header {
    background: linear-gradient(to bottom, rgba(54, 167, 69, 0.666), rgba(11, 40, 17, 0.715));
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}
header h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: -1px; 
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 30px 0 0 0;
    margin: 0px;
    letter-spacing: 1px;
    font-size: 36px;
}
header p {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.675);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 15px 0 0 0;
    width: 100%;
}
nav{
    display: flex;
    gap: 26px;
    padding: 10px;
    background-color: rgba(11, 40, 17, 0.715);
}
nav a{
    color: rgba(131, 255, 146, 0.67);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
nav a:hover {
    background-color: rgba(59, 149, 70, 0.753);
    padding: -5px;
    border-radius: 5px;
    transition-duration: 0.5s;
}
main {
  background-color: white;
  padding: 20px;
  margin: auto;
  margin-bottom: 30px;
  max-width: 1000px;
  min-width: 300px;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.745);
}
html, body {
    padding: 0;
    margin: 0;
}
img {
    width: 100%;
    display: block;

}
main img.pequena {
    max-width: 400px;
    margin: auto;
    display: block;
}
main h2 {
    font-family: 'Android Fonts', Arial, Helvetica, sans-serif;
    color: rgb(25, 98, 25);
    padding: 5px 0 5px 0;
    font-size: 28px;
}
main h3 {
    font-family: 'Android Fonts', Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,#3ffa3f9b, #ffffffda); 
    color: rgb(25, 98, 25);
    padding: 5px 0 5px 0 auto;
    text-indent: 10px;
    
}
main p {
    padding: 10px 0;
    font-size: 16px;
    margin: 15px 0;
    text-align: justify;
    text-indent: 20px;
}
article a{
    color:rgb(25, 98, 25);
    text-decoration: none;
    font-weight: bold;
    background-color: #3ffa3f9b;
}
aside#curiosidade {
    background-color: rgb(67, 224, 114);
    color: black;
    padding: 20px;
    margin-top: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
aside ul {
    columns: 2;
    list-style-position: inside;
}
aside h4 {
    background-color: rgb(15, 67, 25);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin: -10px -10px 0 -10px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
}
aside a{
    color:rgb(25, 98, 25);
    text-decoration: none;
    font-weight: bold;
}
strong {
    color: rgb(25, 98, 25);
}
footer {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(15, 67, 25);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 10px 0;
}
div iframe {
    background-color: rgb(15, 67, 25);
    width: 100%;
    height: 400px;
    border: none;
}
div.video {
    background-color: rgb(15, 67, 25);
    margin: 0px -20px 0px -20px;
    padding: 20px;
    position: relative;

}